---
import Tree from '../components/tree.astro';
---

<!-- A group of three trees with different sizes/shades -->
<div class="flex space-x-4">
	<Tree width={80} height={140} fillColor="#FFA500" />
	<Tree width={100} height={160} fillColor="#FFA500" />
	<Tree width={90} height={150} fillColor="#FFA500" />
</div>
